@page "/authCliente"
@using SuperOferta.Components.Pages.Account.Shared
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles ="Partner")]

<NotAuthorized>
    <button class="btn btn-primary">Click me</button>
</NotAuthorized>
<AuthorizeView>
    <h3>Auth</h3>
    hello @context.User.Identity?.Name!
</AuthorizeView>
