@page "/"
@rendermode InteractiveServer


<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>
<p role="status">Current count: @titulo</p>

<button class="btn btn-primary" @onclick="Imprimir">Click me</button>

@code{
  
    private String titulo = "primero";
    private void Imprimir()
    {
        titulo = titulo + "ka";

        }
     
   
}

Welcome to your new app.