@page "/Mapas/{ubicacionx}/{ubicaciony}"
@inject IJSRuntime JS
@rendermode InteractiveServer

@using Microsoft.AspNetCore.Components

    <h1>@Titulo</h1>
   


   
<h3>Mapa</h3>
<h2>@Ubicaciony</h2>
<h2>@Ubicacionx</h2>
<button class="btn btn-outline-success" data-toggle="tooltip" title="Exportar" @onclick="Export">Encuentrame</button>
<div class="qr-code-container">
    <div class="qr-code" style></div>
</div>
    <div id="map" class="map" style="height:500px;width:500px"></div>

    <script>
        window.GenerarMapa = async (ubicacionx,ubicaciony) => {
        const coord1 = L.latLng(-34.6037, -58.3816); // Buenos Aires
        const coord2 = L.latLng(-34.9205, -57.9536); // La Plata

        // Distancia en metros
        const distancia = coord1.distanceTo(coord2);
        console.log(`La distancia es: ${(distancia / 1000).toFixed(2)} km`);


        var map = L.map('map').setView([ubicacionx,ubicaciony], 15);


            L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
            }).addTo(map);

       
        L.marker([-34.749566, -58.321550]).addTo(map)
            .bindPopup('Supermercados2')
            .openPopup();
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position) {
                var userLat = position.coords.latitude;
                var userLng = position.coords.longitude;

                // Agregar un marcador para la ubicación actual del usuario
                L.marker([userLat, userLng]).addTo(map)
                    .bindPopup('Estás aquí')
                    .openPopup();

                L.marker([ubicacionx, ubicaciony]).addTo(map)
                    .bindPopup('Superm')
                    .openPopup();


                // Centrar el mapa en la ubicación del usuario
             
            }
    );
    } 
        }
        
    </script>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>

@code {
    [Parameter]
    public string Ubicacionx { get; set; } 
    [Parameter]
    public string Ubicaciony { get; set; }
    public string Titulo = "titu";
    public async Task  Export()
    {
        Titulo = Titulo + "pasomapa";
        try
        {
            await JS.InvokeVoidAsync("GenerarMapa",Ubicacionx,Ubicaciony);
            Titulo = Titulo + "pasomapa";
           
        }
        catch
        {
            Titulo = "nopaso";
        }

     

    }
    //https://forum.bubble.io/t/jspdf-integration/7618
}


