@page "/scrape-coto"
@inject WebScrapingService ScrapingService
@rendermode InteractiveServer

<h3>Productos de Coto</h3>
<button @onclick="ScrapeCotoData">Hacer Scraping</button>

<pre>@scrapedData</pre>

@code {
    private string scrapedData;


    private async Task ScrapeCotoData()
    {
       
        var url = "https://api.cotodigital.com.ar/sitios/cdigi/categoria/_/N-8pub5z?Nf=product.startDate|LTEQ%201.7330112E12||product.endDate|GTEQ%201.7330112E12&Nr=AND(product.sDisp_200:1004,product.language:espa%C3%B1ol,OR(product.siteId:CotoDigital))&format=json"; // URL de ejemplo de Coto
        scrapedData = await ScrapingService.GetProductDataAsync(url);
    }
}