@page "/clientes/delete"
@using Microsoft.EntityFrameworkCore
@using SuperOferta.Models
@inject SupermercadoContext context
@inject NavigationManager NavigationManager

<PageTitle>Delete</PageTitle>

<h1>Delete</h1>

<p>Are you sure you want to delete this?</p>
<div>
    <h2>Cliente</h2>
    <hr />
    @if (cliente is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Nombre</dt>
            <dd class="col-sm-10">@cliente.Nombre</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Apellido</dt>
            <dd class="col-sm-10">@cliente.Apellido</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Direccion</dt>
            <dd class="col-sm-10">@cliente.Direccion</dd>
        </dl>
        <EditForm method="post" Model="cliente" OnValidSubmit="DeleteCliente" FormName="delete" Enhance>
            <button type="submit" class="btn btn-danger" disabled="@(cliente is null)">Delete</button> |
            <a href="/clientes">Back to List</a>
        </EditForm>
    }
</div>

@code {
    private Cliente? cliente;

    [SupplyParameterFromQuery]
    private int Id { get; set; }
   

    protected override async Task OnInitializedAsync()
    {
      
        cliente = await context.Clientes.FirstOrDefaultAsync(m => m.Id == Id);

        if (cliente is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    private async Task DeleteCliente()
    {
       
        context.Clientes.Remove(cliente!);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/clientes");
    }
}
