@page "/clientes"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using SuperOferta.Models
@using SuperOferta.Models
@inject SupermercadoContext context
@implements IAsyncDisposable
@using SuperOferta.Components.Pages.Account.Shared
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "Cliente")]

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="clientes/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Clientes">
    <PropertyColumn Property="cliente => cliente.Nombre" />
    <PropertyColumn Property="cliente => cliente.Apellido" />
    <PropertyColumn Property="cliente => cliente.Direccion" />

    <TemplateColumn Context="cliente">
        <a href="@($"clientes/edit?id={cliente.Id}")">Edit</a> |
        <a href="@($"clientes/details?id={cliente.Id}")">Details</a> |
        <a href="@($"clientes/delete?id={cliente.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    


    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
