@using SuperOferta.Models

<link rel="stylesheet" href="menu35/styles.css" type="text/css" />
<h1>Ejemplo ejercicio menu</h1>
<hr />
<ul id="saturday">
    <li><a href="http://www.free-css.com/" class="current"><span>@MenuI.Titulo1</span></a></li>
    <li><a href="http://www.free-css.com/"><span>@MenuI.Titulo2</span></a></li>
    <li><a href="http://www.free-css.com/"><span>CSS Books</span></a></li>
    <li><a href="http://www.free-css.com/"><span>CSS Menus</span></a></li>
    <li><a href="http://www.free-css.com/"><span>CSS Tutorials</span></a></li>
    <li><a href="http://www.free-css.com/"><span>@MenuI.Titulo6</span></a></li>
    <li><a rel="nofollow" target="_blank" href="http://www.13styles.com" title="13styles.com"><span>13styles</span></a></li>
</ul>

@code{
    [Parameter]
    public Menu MenuI{ get; set; }

    /**
     *  [CascadingParameter(Name="Bor")]
     *public string Border{get;set;}                        @Border
     *En la clase padre
     *<CascadingValue Value="Border" Name="Bor">
     *
     @code{public string Border="Red"}
     */
   
   
}