@page "/panelcliente"
<h3>PanelCliente</h3>

<button class="w-100 btn btn-lg btn-primary">Buscar por producto</button>
<button class="w-100 btn btn-lg btn-primary">Buscar por precio</button>
<button class="w-100 btn btn-lg btn-primary">Buscar por mas cercano</button>
@code {

}
