@page "/notificacionesadmins/delete"
@using Microsoft.EntityFrameworkCore
@using SuperOferta.Models
@inject SupermercadoContext context
@inject NavigationManager NavigationManager

<PageTitle>Delete</PageTitle>

<h1>Delete</h1>

<p>Are you sure you want to delete this?</p>
<div>
    <h2>NotificacionesAdmin</h2>
    <hr />
    @if (notificacionesadmin is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <EditForm method="post" Model="notificacionesadmin" OnValidSubmit="DeleteNotificacionesAdmin" FormName="delete" Enhance>
            <button type="submit" class="btn btn-danger" disabled="@(notificacionesadmin is null)">Delete</button> |
            <a href="/notificacionesadmins">Back to List</a>
        </EditForm>
    }
</div>

@code {
    private NotificacionesAdmin? notificacionesadmin;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        
        notificacionesadmin = await context.NotificacionesAdmin.FirstOrDefaultAsync(m => m.Id == Id);

        if (notificacionesadmin is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    private async Task DeleteNotificacionesAdmin()
    {

        context.NotificacionesAdmin.Remove(notificacionesadmin!);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/notificacionesadmins");
    }
}
