@page "/notificacionesadmins"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using SuperOferta.Models
@using SuperOferta.Models
@implements IAsyncDisposable
@inject SupermercadoContext context

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="notificacionesadmins/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.NotificacionesAdmin">

    <TemplateColumn Context="notificacionesadmin">
        <a href="@($"notificacionesadmins/edit?id={notificacionesadmin.Id}")">Edit</a> |
        <a href="@($"notificacionesadmins/details?id={notificacionesadmin.Id}")">Details</a> |
        <a href="@($"notificacionesadmins/delete?id={notificacionesadmin.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {


    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
